@page "/addcity"
@using ClassLibraryDAL
@using ClassLibraryModel
<link rel="stylesheet" href="/css/style.css" />
<PageTitle>City Registration | TMP</PageTitle>
<div class="frm">
    <EditForm Model="tourismModel" OnSubmit="SaveCity">
        <h2>Enter the City's Information</h2>
        <div class="inner">
            <label><b>City Name: </b> </label><input type="text" @bind-value="tourismModel.City_name" placeholder="City Name..." required /><br />
            <label><b>City Code: </b> </label><input type="number" @bind-value="tourismModel.City_code" required /><br />
            <button type="submit" class="btn btn-primary col-2">SAVE</button>
        </div>
    </EditForm>
    <h4 style="color:red;">@msg</h4>
</div>
<div class="tble">
    <table class="table table-bordered">
        <thead>
            <tr class="row">
                <th class="col-5">City Name</th>
                <th class="col-2">City Code</th>
                <th class="col-2">Action</th>
                <th class="col-3">More...</th>
            </tr>
        </thead>
        @foreach (var item in tourism_model)
        {
            <tr class="row">
                <td class="col-5">@item.City_name</td>
                <td class="col-2">@item.City_code</td>
                <td class="col-2">
                    <button @onclick="(()=>DeleteCity(item.City_code))" class="btn btn-outline-danger">
                        DELETE
                    </button>
                </td>
                <td class="col-3">
                    <a href="addviewpoint/@item.City_code" class="btn btn-outline-dark">Add View Point</a>
                </td>
            </tr>
        }
    </table>
</div>





@code {
    private TourismModel tourismModel { get; set; } = new TourismModel();
    private string? msg { get; set; }

    private List<TourismModel> tourism_model = new List<TourismModel>();
    private void SaveCity()
    {
        int i = TourismDAL.SaveCity(tourismModel);
        if (i == 1)
        {
            msg = "Success...";
            GetCities();
        }
        else
        {
            msg = "Error...";
        }
    }

    protected override void OnInitialized()
    {
        GetCities();
    }
    private void GetCities()
    {
        tourism_model = TourismDAL.GetCities();
    }
    private void DeleteCity(int id)
    {
        int i = TourismDAL.DeleteCity(id);
        if (i == 1)
        {
            msg = "Successfully Deleted...";
            GetCities();
        }
        else
        {
            msg = "Error deleting...";
        }
    }
}
