@page "/addservicecategory"
@using ClassLibraryDAL
@using ClassLibraryModel
<h3>AddServiceCategory</h3>
<EditForm Model="serviceCategoryModel" OnSubmit="SaveServiceCategory">
    <label>Service Category type:</label>
    <input type="text" @bind-value="serviceCategoryModel.Cat_Type" required />
    <label>Service Category Title:</label>
    <input type="text" @bind-value="serviceCategoryModel.Cat_Title" required />
    <button type="submit">Save Service Category</button>
</EditForm>
<p>@msg</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service Title</th>
            <th>Service Type</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in serviceCategoriesList)
    {
        <tr>
            <td>@item.Cat_Title</td>
            <td>@item.Cat_Type</td>
            <td>
                <button @onclick="(()=>DeleteServiceCategory(item.Cat_ID))">
                    delete
                </button>
            </td>
            <td>
                <a href="servicesubcat/@item.Cat_ID">Add service sub cat</a>
            </td>
        </tr>
    }
</table>
@code {
    private string? msg { get; set; }
    private ServiceCategoryModel serviceCategoryModel = new ServiceCategoryModel();
    private List<ServiceCategoryModel> serviceCategoriesList = new List<ServiceCategoryModel>();
    private void SaveServiceCategory()
    {
        int i = ServiceCateoryDAL.SaveServiceCategory(serviceCategoryModel);
        if (i == 1)
        {
            msg = "Service Category saved Successfully";
            GetServiceCategories();
        }
        else
        {
            msg = "Error while saving Service Category";
        }
    }
    protected override void OnInitialized()
    {
        GetServiceCategories();
    }
    private void GetServiceCategories(){
        serviceCategoriesList = ServiceCateoryDAL.GetServiceCategories();
    }
    private void DeleteServiceCategory(int id){
        int i = ServiceCateoryDAL.DeleteServiceCategory(id);
        if(i==1){
            msg = "Delete Succefully";
            GetServiceCategories();
        }
        else{
            msg = "Error while Deleting";
        }
    }

}
