@page "/"
@using ClassLibraryDAL
@using ClassLibraryModel
<link rel="stylesheet" href="/css/style.css" />

<PageTitle>Tour My Pakistan</PageTitle>
<div class="banner">
    <h3>WELCOME TO TOUR MY PAKISTAN</h3>
</div>


@code{
    
}


