@page "/servicesubcat/{catid}"
@using ClassLibraryDAL
@using ClassLibraryModel
<h3>ServiceSubCategory</h3>
<EditForm Model="serviceSubCategoryModel" OnSubmit="SaveServiceSubCategory">
    <label>Enter Service Sub Category</label>
    <input type="text" @bind-value="serviceSubCategoryModel.Sub_Cat_Title" required/>
    <button type="submit">save</button>
</EditForm>
<p>@msg</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sub Service category id</th>
            <th>Sub service category title</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in serviceSubCategoriesList)
    {
        <tr>
            <td>@item.Cat_ID</td>
            <td>@item.Sub_Cat_Title</td>
            <td>
                <button @onclick="(()=>DeleteServiceSubCategory(item.Sub_cat_ID))">Delete</button>
            </td>
            <td>
                <a href="addservicedetails/@item.Cat_ID">Add details</a>
            </td>
        </tr>
    }
</table>
@code {
    [Parameter]
    public string? catid { get; set; }
    private string? msg { get; set; }
    ServiceSubCategoryModel serviceSubCategoryModel = new ServiceSubCategoryModel();
    private List<ServiceSubCategoryModel> serviceSubCategoriesList = new List<ServiceSubCategoryModel>();
    private void SaveServiceSubCategory(){
        serviceSubCategoryModel.Cat_ID = int.Parse(catid);
        int i = ServiceSubCategoryDAL.SaveServiceSubCategory(serviceSubCategoryModel);
        if(i==1){
            msg = "Service Sub Category Saved successfully";
            GetServicSubCategory();
        }
        else{
            msg = "Error while saving Service Sub Catergoryt";
        }
    }
    protected override void OnInitialized()
    {
        GetServicSubCategory();
    }
    private void GetServicSubCategory(){
        serviceSubCategoriesList = ServiceSubCategoryDAL.GetServiceSubCategories();
    }
    private void DeleteServiceSubCategory(int id){
        int i = ServiceSubCategoryDAL.DeleteServiceSubCategory(id);
        if (i == 1)
        {
            msg = "Service Sub Category deleted successfully";
            GetServicSubCategory();
        }
        else
        {
            msg = "Error while deleting Service Sub Catergoryt";
        }
    }
}
