@page "/servicesubcat/{catid}"
@using ClassLibraryDAL
@using ClassLibraryModel
<link rel="stylesheet" href="/css/style.css" />
<PageTitle>Service Sub-Category Registration for @catid</PageTitle>
<div class="frm">
    <h3 class="text-center">SERVICE#@catid - SUB-CATEGORY</h3>
    <EditForm Model="serviceSubCategoryModel" OnSubmit="SaveServiceSubCategory">
        <label>Sub-category Title: </label>
        <input type="text" @bind-value="serviceSubCategoryModel.Sub_Cat_Title" placeholder="Title..." required />
        <button type="submit" class="btn btn-primary">SAVE</button>
    </EditForm>
</div>
<p>@msg</p>
<div class="tble">
    <table class="table table-bordered">
        <thead>
            <tr class="row">
                <th class="col-2">ID</th>
                <th class="col-5">TITLE</th>
                <th class="col-2">ACTION</th>
                <th class="col-3">More...</th>
            </tr>
        </thead>
        @foreach (var item in serviceSubCategoriesList)
        {
            <tr class="row">
                <td class="col-2">@item.Cat_ID</td>
                <td class="col-5">@item.Sub_Cat_Title</td>
                <td class="col-2">
                    <button @onclick="(()=>DeleteServiceSubCategory(item.Sub_cat_ID))" class="btn btn-outline-danger">DELETE</button>
                </td>
                <td class="col-3">
                    <a href="addservicedetails/@item.Cat_ID" class="btn btn-outline-primary">ADD DETAILS</a>
                </td>
            </tr>
        }
    </table>
</div>

@code {
    [Parameter]
    public string? catid { get; set; }
    private string? msg { get; set; }
    ServiceSubCategoryModel serviceSubCategoryModel = new ServiceSubCategoryModel();
    private List<ServiceSubCategoryModel> serviceSubCategoriesList = new List<ServiceSubCategoryModel>();
    private void SaveServiceSubCategory(){
        serviceSubCategoryModel.Cat_ID = int.Parse(catid);
        int i = ServiceSubCategoryDAL.SaveServiceSubCategory(serviceSubCategoryModel);
        if(i==1){
            msg = "Saved successfully...";
            GetServicSubCategory();
        }
        else{
            msg = "Error while saving...";
        }
    }
    protected override void OnInitialized()
    {
        GetServicSubCategory();
    }
    private void GetServicSubCategory(){
        serviceSubCategoriesList = ServiceSubCategoryDAL.GetServiceSubCategories();
    }
    private void DeleteServiceSubCategory(int id){
        int i = ServiceSubCategoryDAL.DeleteServiceSubCategory(id);
        if (i == 1)
        {
            msg = "Deleted successfully...";
            GetServicSubCategory();
        }
        else
        {
            msg = "Error while deleting...";
        }
    }
}
