@page "/userreg"
@using ClassLibraryDAL
@using ClassLibraryModel
<h3 class="text-center">Register User</h3>
<EditForm Model="userRegistration" OnSubmit="SaveUser">
    <div class="row">
        <label class="col-1">Name</label>
        <input class="col-5"type="text" @bind-value="userRegistration.Name" required/>
        <label class="col-1">Mobile</label>
        <input class="col-5" type="number" @bind-value="userRegistration.Mobile" required/>
    </div>
    <div class="row">
        <label class="col-1">Email</label>
        <input class="col-5" type="email" @bind-value="userRegistration.Email" required />
        <label class="col-1">Address</label>
        <input class="col-5" type="text" @bind-value="userRegistration.Address" required />
    </div>
    <hr />
    <div class="text-center">
        <lable>User Name</lable>
        <input type="text" @bind-value="userRegistration.UserName" required/>
        <lable>Password</lable>
        <input type="password" @bind-value="userRegistration.Password" required/>
        <button class="btn btn-outline-success" type="submit">SAVE</button>
    </div>
    
</EditForm>
@msg
<table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </thead>
    @foreach (var item in usersList){
        <tr>
            <td>@item.Name</td>
            <td>@item.Mobile</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>
                <button @onclick="(()=>DeleteUser(item.ID))">Delete</button>
            </td>

        </tr>
    }
</table>
@code {
    private string? msg { get; set; }
    private UserRegistrationModel userRegistration = new UserRegistrationModel();
    private List<UserRegistrationModel> usersList = new List<UserRegistrationModel>();
    private void SaveUser(){
        int i = UserRegistrationDAL.SaveUser(userRegistration);
        if(i==1){
            msg = "User Added Succesfully";
            GetUsers();
        }
        else{
            msg = "Error while saving user";
        }
    }
    protected override void OnInitialized()
    {
        GetUsers();
    }
    private void GetUsers(){
        usersList = UserRegistrationDAL.GetUsers();
    }
    private void DeleteUser(int id){
        int i = UserRegistrationDAL.DeleteUser(id);
        if (i == 1)
        {
            msg = "User deleted Succesfully";
            GetUsers();
        }
        else
        {
            msg = "Error while deleting user";
        }
    }
}
