@page "/tourcompanyreg"
@using ClassLibraryModel
@using ClassLibraryDAL
<h3>TourCompanyRegistration</h3>

@code {
    private string? msg { get; set; }
    private TourCompanyRegModel tourCompanyReg=new TourCompanyRegModel();
    private void SaveTourCompanyReg(){

    }
}
